#preloader{
    position: fixed;
    top:0;
    left:0;
    background: rgb(12, 0, 34) url(assets/img/1476.gif) no-repeat center center;
    background-size: 5%;
    height: 100%;
    width:100%;
    z-index: 100;
}

#button {
    color: rgb(255, 255, 255);
}
#containerSun{
    width: 40vh;
    background: rgba(255, 187, 0, 0.719);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:50px;
}
#containerMer{
    width: 40vh;
    background: rgba(63, 0, 163, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:50px;
}
#containerVen{
    width: 40vh;
    background: rgba(139, 28, 0, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:50px;
}
#containerEarth{
    width: 40vh;
    background: rgba(0, 153, 255,0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:50px;
}
#containerMars{
    width: 40vh;
    background: rgba(255, 136, 0, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:50px;
}
#containerJup{
    width: 40vh;
    background: rgba(187, 148, 75, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:50px;
}
#containerSat{
    width: 40vh;
    background: rgba(76, 0, 255, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:50px;
}
#containerUra{
    width: 40vh;
    background: rgba(87, 184, 248, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:50px;
}
#containerNep{
    width: 40vh;
    background: rgba(0, 4, 255, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:50px;
}

#name{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

#planet{
    color: white;
    font-size: 17px;

}