#preloader{
    position: fixed;
    top:0;
    left:0;
    background: rgb(12, 0, 34) url(assets/img/1476.gif) no-repeat center center;
    background-size: 5%;
    height: 100%;
    width:100%;
    z-index: 100;
}

#button {
    color: rgb(255, 255, 255);
}
#container{
    width: 25vh;
    background: rgba(0,0,0,0.5);
    padding:10px;    
    border-radius: 5px;
}

#name{
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

#planet{
    color: white;
    font-size: 13px;

}