
ListItem:hover{
  background-position: 0 100%;
}
  
  
  .content{
    text-align: left;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    color:#fff;
    overflow:hidden;
  }
  .nav {
    /*background-color: #1c1527;*/
    overflow: hidden;
    padding: 40px;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float: right;
    color: #f2f2f2;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    color: rgb(255, 255, 255);
  }
  
  
  #preloader {
    position:fixed;
    top: 0;
    left: 0;
    background: #060012 url(assets/img/1476.gif) no-repeat center center;
    background-size: 5%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  h1{
    position: relative;
    color: #fff;
    margin: 0;
    font-size: 5rem;
  }
