
#preloader{
    position: fixed;
    top:0;
    left:0;
    background: rgb(12, 0, 34) url(assets/img/1476.gif) no-repeat center center;
    background-size: 5%;
    height: 100%;
    width:100%;
    z-index: 100;
}

#button {
    color: rgb(255, 255, 255);
}
#containerSun{
    width: 40vh;
    background: rgba(255, 187, 0, 0.719);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}
#containerMer{
    width: 40vh;
    background: rgba(63, 0, 163, 0.7);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}

#mercFact{
    width: 40vh;
    background: rgba(63, 0, 163, 0.7);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}
#containerVen{
    width: 40vh;
    background: rgba(139, 28, 0, 0.7);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}
#containerEarth{
    width: 40vh;
    background: rgba(0, 153, 255,0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}
#containerMars{
    width: 40vh;
    background: rgba(255, 136, 0, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}
#containerJup{
    width: 40vh;
    background: rgba(187, 148, 75, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}
#containerSat{
    width: 40vh;
    background: rgba(76, 0, 255, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}
#containerUra{
    width: 40vh;
    background: rgba(87, 184, 248, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}
#containerNep{
    width: 40vh;
    background: rgba(0, 4, 255, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}

#containerBelt{
    width: 40vh;
    background: rgba(97, 62, 33, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}

#containerMoon{
    width: 40vh;
    background: rgba(100, 100, 100, 0.5);
    padding:15px;    
    border-radius: 20px;
    position: relative;
    left: 70px;
    top:80px;
}


#containerText{
    width: 35vh;
    padding:12px;    
    border-radius: 20px;
    position: absolute;
    justify-content: center;
    left: 155vh;
    top:5vh;
    font-size: small;
}

#name{
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
    text-align: center;
}
#subtitle{
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 18px;
}

#planet{
    color: white;
    font-size: 17px;

}

#titleContainer{
    width: 20vh;  
    position: relative;
    display: flex;
    justify-content: center;
    top:90vh;
    left:5vh;
}

#solarTitle{
    color: white;
    font-size: 25px;
    font-weight: bold;
    width: 18vh;
    text-align: center;
    position: absolute;
}

#refresh{
background-color: #0099ff;
color:white;
cursor: pointer;
border: none;
border-radius: 5px;
width: 15vh;
padding-top:2px;
padding-bottom: 2px;
position: relative;
left:80vh;
top:5vh;
font-size: small;
}

#rotate{
    background-color: #0099ff;
    color:white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 15vh;
    padding-top:2px;
    padding-bottom: 2px;
    position: relative;
    left:97vh;
    top:5vh;
    font-size: small;
}


#close{
    background-color: #ff0000;
    color:white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 5vh;
    padding-top:2px;
    padding-bottom: 2px;
    position: relative;
    left:5vh;
    top:5vh;
    font-size: small;
}

#speedBox{
    height:25vh;
    width: 20vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    top:65vh;
    left:160vh;
}

#speedDis{
    font-weight: bold;
    padding-bottom: 10px;
}
#speed{
    padding-bottom: 5px;
}